$pure-white: #fff;
$off-white: #ebebeb;
$dark: #00210B;
$dark-transparent: rgba(0, 0, 0, 0.5);

$main-light: #fff;
$main-medium: #5b7242;
$main-dark: #203D14;

$red-logo-color: #4d0712; // bordowe logo

$accent-color: #d1d306;

$dark-gradient: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

$light-gradient: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
